gromacs/addions/1UBQ.pdb_solv_ions.gro
gromacs/addions/ions.mdp
gromacs/addions/ions.tpr
gromacs/addions/mdout.mdp
gromacs/emin/em.edr
gromacs/emin/em.gro
gromacs/emin/em.log
gromacs/emin/em.tpr
gromacs/emin/em.trr
gromacs/emin/mdout.mdp
gromacs/emin/minim.mdp
gromacs/emin/potential.xvg
gromacs/solvation/1UBQ.pdb_newbox.gro
gromacs/solvation/1UBQ.pdb_solv.gro
gromacs/top/\#topol.top.1\#
gromacs/top/\#topol.top.2\#
gromacs/top/1UBQ.pdb_processed.gro
gromacs/top/posre.itp
gromacs/top/topol.top
runs/npt/mdout.mdp
runs/npt/npt.cpt
runs/npt/npt.edr
runs/npt/npt.gro
runs/npt/npt.log
runs/npt/npt.mdp
runs/npt/npt.tpr
runs/npt/npt.trr
runs/nvt/\#nvt.edr.1\#
runs/nvt/\#nvt.gro.1\#
runs/nvt/\#nvt.log.1\#
runs/nvt/\#nvt.tpr.1\#
runs/nvt/\#nvt.trr.1\#
runs/nvt/mdout.mdp
runs/nvt/nvt.cpt
runs/nvt/nvt.edr
runs/nvt/nvt.gro
runs/nvt/nvt.log
runs/nvt/nvt.mdp
runs/nvt/nvt.tpr
runs/nvt/nvt.trr
runs/nvt/nvt_prev.cpt
runs/nvt/temperature.xvg
